---
---

@import "{{ site.theme }}";

body {
  background-image: url('/images/papertexture.png');
  background-repeat: repeat-x repeat-y;
}

.site-logo {
  max-width: 20rem;
}

section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  & > * {
    flex: 1 1 21rem;
    margin: 1rem;

    &:first-child {
      margin-left: 0;
      text-align: right;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
