---
---

@import "{{ site.theme }}";

body {
  background-image: url('/images/papertexture.png');
  background-repeat: repeat-x repeat-y;
}

.site-logo {
  max-width: 20rem;
}

.team-member {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  & > * {
    flex: 1 1 21rem;
    margin: 1rem 0;
  }

  & > img {
    max-width: 21rem;
    max-height: 25.5rem;

    &.portrait--rob {
      margin-right: 2rem;
    }

    &.portrait--damien {
      margin-left: 2rem;
    }
  }

  &--damien {
    & > div {
      text-align: right;
    }
  }
}
