---
layout: default
---

<article class='post'>
  <h1 class='post-title'>{{ page.title }}</h1>
  <div class="post-date">{{ page.date | date: "%b %-d, %Y" }}</div>

  <audio controls>
    <source src="{{ page.file }}" type="audio/mpeg">
  </audio>
  <p>
    Subscribe:
    <a href="/podcast.rss">RSS</a>
    <a href="https://podcasts.apple.com/us/podcast/52-sketches/id1533501322" target="_blank">Apple</a>
    <a href="https://open.spotify.com/show/2sdEWVDJ37pVfuagtXtH95" target="_blank">Spotify</a>
    <a href="https://podcasts.google.com/feed/aHR0cHM6Ly81MnNrZXRjaGVzLmNvbS9wb2RjYXN0LnJzcw" target="_blank">Google</a>
    <a href="https://www.stitcher.com/podcast/52-sketches" target="_blank">Sticher</a>
    <a href="https://overcast.fm/itunes1533501322/52-sketches" target="_blank">Overcast</a>
    <a href="https://www.youtube.com/channel/UClZpk83OVN56FFT0UaAtibA" target="_blank">YouTube</a>
  </p>

  {{ content }}
</article>
